services:
    database:
        image: postgres:latest
        container_name: slashy-database
        restart: unless-stopped
        environment:
            - POSTGRES_USER=slashy
            - POSTGRES_PASSWORD=slashy
            - POSTGRES_DB=slashy
        volumes:
            - slashy-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U slashy"]
            interval: 5s
            retries: 3

    bot:
        image: omznc/slashy:latest
        container_name: slashy-bot
        restart: unless-stopped
        environment:
            - DISCORD_TOKEN=
            - DISCORD_CLIENT_ID=
            - DATABASE_URL=postgresql://slashy:slashy@database/slashy
        volumes:
            -   slashy-config:/config
        labels:
            - "com.centurylinklabs.watchtower.enable=true"

        depends_on:
            database:
                condition: service_healthy


#    Uncomment this if you'd like Slashy to always be up-to-date.
#    watchtower:
#        image: containrrr/watchtower
#        container_name: slashy-watchtower
#        restart: unless-stopped
#        volumes:
#            - /var/run/docker.sock:/var/run/docker.sock
#        environment:
#            - WATCHTOWER_CLEANUP=true
#            - WATCHTOWER_POLL_INTERVAL=60
#            - WATCHTOWER_LABEL_ENABLE=true
#        depends_on:
#            bot:
#                condition: service_healthy


volumes:
    slashy-config:
    slashy-data:
